<h1>P e Q</h1>
<ul>
    <li>
        <label for="pq_drc">Escolha a DRC</label>
        <select id="pq_drc" name="pq_drc">
            <option default value="">Nacional</option>
        </select>
    </li>
    <li>
        <label for="pq_startTs">Start Timestamp</label>
        <input type="text" id="pq_startTs" name="pq_startTs" value="2017-11-01 00:00:00" />
    </li>
    <li>
        <label for="pq_endTs">End Timestamp</label>
        <input type="text" id="pq_endTs" name="pq_endTs" value="2017-11-30 00:00:00" />
    </li>
    <li>
        <input type="button" id="pq_apply" value="Apply!">
    </li>
</ul>

<div id="chart_p_q" class="async-chart big-chart" data-endpoint="pq" data-chart-type="stacked"></div>



