<h1>P e Q</h1>
<ul>
    <li>
        <label for="pq_drc">Escolha a DRC</label>
        <select id="pq_drc" name="pq_drc">
            <option default value="">Nacional</option>
        </select>
    </li>
    <li>
        <label for="pq_startDate">Start Timestamp</label>

        <!--<input type="text" id="pq_startTs" name="pq_startTs" value="2017-11-01 00:00:00" />-->
        <input type="date" class="pickdate" id="pq_startDate" name="pq_startDate" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value="2017-11-01">
        <input type="time" class="picktime" id="pq_startTime" name="pq_startTime" value="00:00" step="300">
    </li>
    <li>
        <label for="pq_endDate">End Timestamp</label>
        <!--<input type="text" id="pq_endTs" name="pq_endTs" value="2017-11-30 00:00:00" />-->
        <input type="date" class="pickdate" id="pq_endDate" name="pq_endDate" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value="2017-11-30">
        <input type="time" class="picktime" id="pq_endTime" name="pq_endTime" value="00:00" step="300">
    </li>
    <li>
        <input type="button" id="pq_apply" value="Apply!">
    </li>
</ul>

<div id="chart_p_q" class="async-chart big-chart" data-endpoint="pq" data-chart-type="stacked"></div>



