<div class="container footer--bg">
    <div class="footer--left" data-footerlinks="">
        <div class="footer__menu footer__links noindex">
            <ul>
                <li class="menu__item">
                    <a href="http://www.ambertree.pt/" class="link" target="_self">Designed by Ambertree, Tecnologias para Redes de Energia Eléctrica</a>
                </li>
            
                <li class="menu__item">
                    <a href="https://www.google.pt/maps/place/Av.+Guerra+Junqueiro+14,+1000-277+Lisboa/@38.738649,-9.1356252,19z/data=!4m13!1m7!3m6!1s0xd1933a348d70ee3:0x77e9f9d67788368c!2sAv.+Guerra+Junqueiro+14,+1000-277+Lisboa!3b1!8m2!3d38.738649!4d-9.135078!3m4!1s0xd1933a348d70ee3:0x77e9f9d67788368c!8m2!3d38.738649!4d-9.135078?hl=pt-PT" class="link" target="_blank">Localização</a>
                </li>
            </ul>
        </div>
    </div>
</div>
