<h1>Mapa de Portugal</h1>

<div id="mapOptions" class="some-bottom-margin some-top-margin">
    <select id="mapAggregationLevel">
        <option value="municipality" selected>Nacional</option>
        <option value="ao">AO</option>
        <option value="drc">DRC</option>
    </select>
</div>

<!-- { {> portugal.svg} } -->
<!-- { {> map2} } -->
<!-- { {> map3.svg} } -->
{{> map3.svg}}
