<!doctype html>
<html>
<meta charset='utf-8'>
<head>
    <link rel="icon" type="image/png" href="/img/favicon/16x16.png" sizes="16x16">  
    <link rel="icon" type="image/png" href="/img/favicon/32x32.png" sizes="32x32">  
    <link rel="icon" type="image/png" href="/img/favicon/96x96.png" sizes="96x96">  
    <link rel="stylesheet"  href="/css/main.css">
</head>
<body>
<header>
    <img class="header-img" src="https://docs.google.com/uc?id=0B621SxaVd4JZUE9CNXlzTjVnaVU">
</header>
{{{body}}}
</body>
<script type="text/javascript" src="/js/d3.min.js"></script>
<!-- network -->
<script type="text/javascript" src="/js/http_request.js"></script>
<script type="text/javascript" src="/js/chart_request.js"></script>
<script type="text/javascript" src="/js/mapa_request.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
{{#if additionalScript}}
    <script type="text/javascript" src="/js/{{additionalScript}}.js"></script>
{{/if}}

</html>
