<h1>HOME</h1>

<p>Aqui jaz um gráfico</p>

<svg id="chart_A" class="async-chart big-chart" data-chart-type="type1" data-chart-start="2017-01-01 00:00:00" data-chart-end="2017-01-01 01:00:00" data-chart-sources="solar" style="width: 640px; height: 480px;"></svg>



<!-- COMMENT

<p>Aqui jaz outro gráfico</p>
<svg id="chart_B" class="async-chart small-chart" data-chart-type="type2" data-chart-start="2017-01-03 00:00:00" data-chart-end="2017-01-04 00:00:00" data-chart-sources="eólica,solar"></svg>

<svg id="chart_C" class="async-chart big-chart" data-chart-type="type3" data-chart-start="2017-01-01 00:00:00" data-chart-end="2017-01-02 00:00:00"></svg>


-->
