
<nav class="tab_system" id="MainNav">
    <ul class="flexbox">
        <li class="selected"><a href="#chart" id="chart_tab" class="TabTrigger" data-target="chart_container">Chart</a></li>
        <li                 ><a href="#map"   id="map_tab"   class="TabTrigger" data-target="map_container">Mapa</a></li>
    </ul>
</nav>

<div class="tabs-container">
    <div id="chart_container" class="tab-content">
        {{> chart}}
    </div>

    <div id="map_container" class="tab-content">
        {{> map}}
    </div>
</div>
