<h1>HOME</h1>

<p>Aqui est치 um gr치fico</p>

<svg id="chart_A" class="async-chart small-chart" data-chart-type="type1" data-chart-start="2017-01-01 00:00:00" data-chart-end="2017-01-01 01:00:00" data-chart-sources="solar" style="width: 640px; height: 480px;"></svg>

<p>Aqui est치 outro gr치fico</p>
<svg id="chart_B" class="async-chart big-chart" data-chart-type="type2" data-chart-start="2017-01-02 00:00:00" data-chart-end="2017-01-03 00:00:00" data-chart-sources="fossil,solar" style="width: 640px; height: 480px;"></svg>

