
html {font-family: Calibri, Verdana, Arial, sans-serif}
svg { font: 10px sans-serif;}

.y.axis path { display: none; }
.y.axis line { stroke: #fff;  stroke-opacity: .2; shape-rendering: crispEdges;}
.y.axis .zero line { stroke: #000; stroke-opacity: 1; }

.title { font: 300 78px Helvetica Neue; fill: #666; }

.birthyear, .age { text-anchor: middle; }
.birthyear { fill: #fff; }

rect { fill-opacity: .6; }
 
/** tabs */
ul.flexbox {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

ul {list-style-type: none; padding: 0; margin: 0;}
nav.tab_system ul li { padding: 5px; margin: 0;
  border-top-left-radius: 5px; border-top-right-radius: 5px; 
  border-left-width: 1px; border-top-width: 1px; border-bottom-width: 1px; border-right: 0;
  border-style: solid; border-color: black;
  background-color: #eeeeee;
  color: #444444;
}


body {margin: 0;}
header { background-color: #ffffff}
header img {max-width: 320px;}
h1 {margin: 0; font-size: 1.5em; font-weight: normal; color: rgb( 19,  48,  53);}
nav {padding: 5px 5px 0 5px; background-color: #ffffff}
nav.tab_system ul li:last-child { border-right-width: 1px; }
nav.tab_system ul li.selected {border-bottom-width: 0;}
nav.tab_system a {text-decoration: none;  color: rgb( 19,  48,  53);}
nav.tab_system li.selected a {            color: rgb(164, 155,  36);}

.tabs-container {padding: 10px 5px 0 5px; background-color: #eeeeee;}
.tab-content { display: none; padding: 0 5px; background-color: #eeeeee;}

.some-bottom-margin {margin-bottom: 5px;}
.some-top-margin {margin-top: 5px;}

#svg_portugal {max-width: 310; max-height: 455px;}

.big-chart {max-width: 100%; height: 455px; }

.footer__links {margin: 5px 5px 20px 5px; font-size: 0.8em; text-align: center;}
.footer__links a        { color: rgb(164, 155,  36); line-height: 20px;}
.footer__links a:hover  { color: rgb( 19,  48,  53); }





/** date styling */
#chart_container label {min-width: 120px; display: inline-block;}

input.pickdate {
    position: relative;
    width: 150px; height: 20px;
    color: white;
    vertical-align: middle;
    margin: 5px 0;
}

input.pickdate:before {
    position: absolute;
    top: 3px; left: 3px;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

input.pickdate::-webkit-datetime-edit, input.pickdate::-webkit-inner-spin-button, input.pickdate::-webkit-clear-button {
    display: none;
}

input.pickdate::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 1;
}

.chart-positioner {position: relative;}
.chart-header {overflow: hidden; display: block;}
.parameters {float: left;}
.global-chart-legend { background-color: #f8f8f8; border: 1px solid #222222;
    margin-left: 10px; padding: 5px; max-width: 100px;
    float: right;
}

.legend {
    position: absolute; 
    width: 120px; height: 65px; 
    background: #f8f8f8; border: 1px solid #222222; 
    z-index: 100;
    opacity: 0;
    display: none;
    font-size: 12px; padding: 3px;
}

.legend .label { font-weight: bolder; color: rgb(164, 155, 36); margin-top: 5px;}
.legend .value { margin-left: 10px;}

